In [2]:
import pandas as pd

df = pd.read_csv('MBTI 500.csv', delimiter = ',')
df=df.drop_duplicates()
df

                                                    posts  type
0       know intj tool use interaction people excuse a...  INTJ
1       rap music ehh opp yeah know valid well know fa...  INTJ
2       preferably p hd low except wew lad video p min...  INTJ
3       drink like wish could drink red wine give head...  INTJ
4       space program ah bad deal meing freelance max ...  INTJ
...                                                   ...   ...
106062  stay frustrate world life want take long nap w...  INFP
106063  fizzle around time mention sure mistake thing ...  INFP
106064  schedule modify hey w intp strong wing underst...  INFP
106065  enfj since january busy schedule able spend li...  INFP
106066  feel like men good problem tell parent want te...  INFP

[106067 rows x 2 columns]

In [3]:
word_s = input()
counts = df['posts'].str.count(word_s)

print(max(counts))

counts

rock
12

0         0
1         0
2         0
3         0
4         0
         ..
106062    0
106063    0
106064    0
106065    0
106066    0
Name: posts, Length: 106067, dtype: int64

In [4]:
# rslt_df = counts.sort_values(ascending = False)
# rslt_df

In [5]:
# rslt_df.head()

In [6]:
wo_INTJ = wo_INTP = wo_ISFJ = wo_ISFP = wo_ISTJ = wo_ISTP = wo_ENFJ = wo_ENFP = wo_ENTJ = wo_ENTP = wo_ESFJ = wo_ESFP = wo_ESTJ = wo_ESTP = wo_INFJ = wo_INFP = 0
for i in range(106067):
    x = 22427
    if i <= 22427:
        wo_INTJ += counts.iloc[i]
    elif i > 22427 and i <= 47388:
        wo_INTP += counts.iloc[i]
    elif i > 47388 and i <= 48038:
        wo_ISFJ += counts.iloc[i]
    elif i > 48038 and i <= 48913:
        wo_ISFP += counts.iloc[i]
    elif i > 48913 and i <= 50156:
        wo_ISTJ += counts.iloc[i]
    elif i > 50156 and i <= 53580:
        wo_ISTP += counts.iloc[i]
    elif i > 53580 and i <= 55114:
        wo_ENFJ += counts.iloc[i]
    elif i > 55114 and i <= 61281:
        wo_ENFP += counts.iloc[i]
    elif i > 61281 and i <= 64236:
        wo_ENTJ += counts.iloc[i]
    elif i > 64236 and i <= 75961:
        wo_ENTP += counts.iloc[i]
    elif i > 75961 and i <= 76142:
        wo_ESFJ += counts.iloc[i]
    elif i > 76142 and i <= 76502:
        wo_ESFP += counts.iloc[i]
    elif i > 76502 and i <= 76984:
        wo_ESTJ += counts.iloc[i]
    elif i > 76984 and i <= 78970:
        wo_ESTP += counts.iloc[i]
    elif i > 78970 and i <= 93933:
        wo_INFJ += counts.iloc[i]
    elif i > 93933 and i <= 106067:
        wo_INFP += counts.iloc[i]
print (wo_INTJ , wo_INTP , wo_ISFJ , wo_ISFP , wo_ISTJ , wo_ISTP , wo_ENFJ , wo_ENFP , wo_ENTJ , wo_ENTP , wo_ESFJ , wo_ESFP , wo_ESTJ , wo_ESTP , wo_INFJ , wo_INFP)

2337 2979 63 123 148 552 140 764 300 1394 17 45 26 216 1452 1592

In [7]:
ptcg_INTJ = (float(wo_INTJ) / (22427 * 500)) * 100  #1
ptcg_INTP = (float(wo_INTP) / (24961 * 500)) * 100  #2
ptcg_ISFJ = (float(wo_ISFJ) / (650 * 500)) * 100    #3
ptcg_ISFP = (float(wo_ISFP) / (875 * 500)) * 100    #4
ptcg_ISTJ = (float(wo_ISTJ) / (1243 * 500)) * 100   #5
ptcg_ISTP = (float(wo_ISTP) / (3424 * 500)) * 100   #6
ptcg_ENFJ = (float(wo_ENFJ) / (1534 * 500)) * 100   #7
ptcg_ENFP = (float(wo_ENFP) / (6167 * 500)) * 100   #8
ptcg_ENTJ = (float(wo_ENTJ) / (2955 * 500)) * 100   #9
ptcg_ENTP = (float(wo_ENTP) / (11725 * 500)) * 100  #10
ptcg_ESFJ = (float(wo_ESFJ) / (181 * 500)) * 100    #11
ptcg_ESFP = (float(wo_ESFP) / (360 * 500)) * 100    #12
ptcg_ESTJ = (float(wo_ESTJ) / (482 * 500)) * 100    #13
ptcg_ESTP = (float(wo_ESTP) / (1986 * 500)) * 100   #14
ptcg_INFJ = (float(wo_INFJ) / (14963 * 500)) * 100  #15
ptcg_INFP = (float(wo_INFP) / (12134 * 500)) * 100  #16

print (ptcg_INTJ,'\n' , ptcg_INTP,'\n' , ptcg_ISFJ,'\n' , ptcg_ISFP,'\n' , ptcg_ISTJ,'\n' , ptcg_ISTP,'\n' , ptcg_ENFJ,'\n' , ptcg_ENFP,'\n' , ptcg_ENTJ,'\n' , ptcg_ENTP,'\n' , ptcg_ESFJ,'\n' , ptcg_ESFP,'\n' , ptcg_ESTJ,'\n' , ptcg_ESTP,'\n' , ptcg_INFJ,'\n' , ptcg_INFP,'\n')

0.020840950639853747
 0.02386923600817275
 0.019384615384615386
 0.028114285714285713
 0.02381335478680611
 0.032242990654205606
 0.018252933507170794
 0.024777039078968704
 0.02030456852791878
 0.02377825159914712
 0.01878453038674033
 0.025
 0.010788381742738589
 0.02175226586102719
 0.019407872752790215
 0.026240316466128236

In [8]:
print("INTJ", ptcg_INTJ)
print("INTP", ptcg_INTP)
print("ISFJ", ptcg_ISFJ)
print("ISFP", ptcg_ISFP)
print("ISTJ", ptcg_ISTJ) 
print("ISTP", ptcg_ISTP) 
print("ENFJ", ptcg_ENFJ) 
print("ENFP", ptcg_ENFP) 
print("ENTJ", ptcg_ENTJ) 
print("ENTP", ptcg_ENTP) 
print("ESFJ", ptcg_ESFJ) 
print("ESFP", ptcg_ESFP) 
print("ESTJ", ptcg_ESTJ) 
print("ESTP", ptcg_ESTP) 
print("INFJ", ptcg_INFJ) 
print("INFP", ptcg_INFP)

INTJ 0.020840950639853747
INTP 0.02386923600817275
ISFJ 0.019384615384615386
ISFP 0.028114285714285713
ISTJ 0.02381335478680611
ISTP 0.032242990654205606
ENFJ 0.018252933507170794
ENFP 0.024777039078968704
ENTJ 0.02030456852791878
ENTP 0.02377825159914712
ESFJ 0.01878453038674033
ESFP 0.025
ESTJ 0.010788381742738589
ESTP 0.02175226586102719
INFJ 0.019407872752790215
INFP 0.026240316466128236

In [9]:
rslt_df = pd.DataFrame([ ["INTJ", ptcg_INTJ],
                        ["INTP", ptcg_INTP],
                        ["ISFJ", ptcg_ISFJ],
                        ["ISFP", ptcg_ISFP],
                        ["ISTJ", ptcg_ISTJ],
                        ["ISTP", ptcg_ISTP],
                        ["ENFJ", ptcg_ENFJ],
                        ["ENFP", ptcg_ENFP],
                        ["ENTJ", ptcg_ENTJ],
                        ["ENTP", ptcg_ENTP],
                        ["ESFJ", ptcg_ESFJ],
                        ["ESFP", ptcg_ESFP],
                        ["ESTJ", ptcg_ESTJ],
                        ["ESTP", ptcg_ESTP],
                        ["INFJ", ptcg_INFJ],
                        ["INFP", ptcg_INFP] ],
    
                   columns=['Type', 'SemiScore'])
rslt_df

    Type  SemiScore
0   INTJ   0.020841
1   INTP   0.023869
2   ISFJ   0.019385
3   ISFP   0.028114
4   ISTJ   0.023813
5   ISTP   0.032243
6   ENFJ   0.018253
7   ENFP   0.024777
8   ENTJ   0.020305
9   ENTP   0.023778
10  ESFJ   0.018785
11  ESFP   0.025000
12  ESTJ   0.010788
13  ESTP   0.021752
14  INFJ   0.019408
15  INFP   0.026240

In [10]:
rslt_df = rslt_df.sort_values(by=['SemiScore'], ascending = False)
rslt_df

    Type  SemiScore
5   ISTP   0.032243
3   ISFP   0.028114
15  INFP   0.026240
11  ESFP   0.025000
7   ENFP   0.024777
1   INTP   0.023869
4   ISTJ   0.023813
9   ENTP   0.023778
13  ESTP   0.021752
0   INTJ   0.020841
8   ENTJ   0.020305
14  INFJ   0.019408
2   ISFJ   0.019385
10  ESFJ   0.018785
6   ENFJ   0.018253
12  ESTJ   0.010788

In [28]:
rslt_df = rslt_df.reset_index(drop=True)
rslt_df.index = rslt_df.index + 1
rslt_df.head(5)

   Type  SemiScore
1  ISTP   0.032243
2  ISFP   0.028114
3  INFP   0.026240
4  ESFP   0.025000
5  ENFP   0.024777