In [43]:
# citesc datele

import pandas as pd

df = pd.read_csv('MBTI 500.csv', delimiter = ',')
df = df.drop_duplicates()
df

                                                    posts  type
0       know intj tool use interaction people excuse a...  INTJ
1       rap music ehh opp yeah know valid well know fa...  INTJ
2       preferably p hd low except wew lad video p min...  INTJ
3       drink like wish could drink red wine give head...  INTJ
4       space program ah bad deal meing freelance max ...  INTJ
...                                                   ...   ...
106062  stay frustrate world life want take long nap w...  INFP
106063  fizzle around time mention sure mistake thing ...  INFP
106064  schedule modify hey w intp strong wing underst...  INFP
106065  enfj since january busy schedule able spend li...  INFP
106066  feel like men good problem tell parent want te...  INFP

[106067 rows x 2 columns]

In [44]:
# innumar de cate ori apare un cuvant scris la tastatura in fiecare rand

word_s = input()
counts = df['posts'].str.count(word_s)

print(max(counts))

counts

hard rock
3

0         0
1         0
2         0
3         0
4         0
         ..
106062    0
106063    0
106064    0
106065    0
106066    0
Name: posts, Length: 106067, dtype: int64

In [45]:
# innumar de cate ori apare cuvantul pentru fiecare tip de personalitate

wo_INTJ = wo_INTP = wo_ISFJ = wo_ISFP = wo_ISTJ = wo_ISTP = wo_ENFJ = wo_ENFP = wo_ENTJ = wo_ENTP = wo_ESFJ = wo_ESFP = wo_ESTJ = wo_ESTP = wo_INFJ = wo_INFP = 0
for i in range(106067):
    x = 22427
    if i <= 22427:
        wo_INTJ += counts.iloc[i]
    elif i > 22427 and i <= 47388:
        wo_INTP += counts.iloc[i]
    elif i > 47388 and i <= 48038:
        wo_ISFJ += counts.iloc[i]
    elif i > 48038 and i <= 48913:
        wo_ISFP += counts.iloc[i]
    elif i > 48913 and i <= 50156:
        wo_ISTJ += counts.iloc[i]
    elif i > 50156 and i <= 53580:
        wo_ISTP += counts.iloc[i]
    elif i > 53580 and i <= 55114:
        wo_ENFJ += counts.iloc[i]
    elif i > 55114 and i <= 61281:
        wo_ENFP += counts.iloc[i]
    elif i > 61281 and i <= 64236:
        wo_ENTJ += counts.iloc[i]
    elif i > 64236 and i <= 75961:
        wo_ENTP += counts.iloc[i]
    elif i > 75961 and i <= 76142:
        wo_ESFJ += counts.iloc[i]
    elif i > 76142 and i <= 76502:
        wo_ESFP += counts.iloc[i]
    elif i > 76502 and i <= 76984:
        wo_ESTJ += counts.iloc[i]
    elif i > 76984 and i <= 78970:
        wo_ESTP += counts.iloc[i]
    elif i > 78970 and i <= 93933:
        wo_INFJ += counts.iloc[i]
    elif i > 93933 and i <= 106067:
        wo_INFP += counts.iloc[i]
print (wo_INTJ , wo_INTP , wo_ISFJ , wo_ISFP , wo_ISTJ , wo_ISTP , wo_ENFJ , wo_ENFP , wo_ENTJ , wo_ENTP , wo_ESFJ , wo_ESFP , wo_ESTJ , wo_ESTP , wo_INFJ , wo_INFP)

53 50 0 1 3 20 3 5 4 9 0 1 0 2 23 23

In [46]:
# imi fac un nou dataframe pentru a prelucra rezultatele si a le normaliza

# In statistics, the term “normalization” refers to the scaling down
# of the data set such that the normalized data falls in the range
# between 0 and 1. Such normalization techniques help compare
# corresponding normalized values from two or more different data
# sets in a way that eliminates the effects of the variation in the scale
# of the data sets i.e., a data set with large values can be easily
# compared with a data set of smaller values.

rslt_df1 = pd.DataFrame([ ["INTJ", wo_INTJ],
                         ["INTP", wo_INTP],
                         ["ISFJ", wo_ISFJ],
                         ["ISFP", wo_ISFP],
                         ["ISTJ", wo_ISTJ],
                         ["ISTP", wo_ISTP],
                         ["ENFJ", wo_ENFJ],
                         ["ENFP", wo_ENFP],
                         ["ENTJ", wo_ENTJ],
                         ["ENTP", wo_ENTP],
                         ["ESFJ", wo_ESFJ],
                         ["ESFP", wo_ESFP],
                         ["ESTJ", wo_ESTJ],
                         ["ESTP", wo_ESTP],
                         ["INFJ", wo_INFJ],
                         ["INFP", wo_INFP] ],
         columns = ['Type', 'NormalizedScore'])
rslt_df1

    Type  NormalizedScore
0   INTJ               53
1   INTP               50
2   ISFJ                0
3   ISFP                1
4   ISTJ                3
5   ISTP               20
6   ENFJ                3
7   ENFP                5
8   ENTJ                4
9   ENTP                9
10  ESFJ                0
11  ESFP                1
12  ESTJ                0
13  ESTP                2
14  INFJ               23
15  INFP               23

In [47]:
# aflu numarul minim si numarul maxim de aparitii
# al cuvantului pentru fiecare tip de personalitate

oc_minimum = rslt_df1['NormalizedScore'].min()
oc_maximum = rslt_df1['NormalizedScore'].max()
oc_maximum

53

In [48]:
# normalizez rezultatele folosind formula
# x normalized = (x – x minimum) / (x maximum – x minimum)

ptcg_INTJ = (float(wo_INTJ - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_INTP = (float(wo_INTP - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ISFJ = (float(wo_ISFJ - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ISFP = (float(wo_ISFP - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ISTJ = (float(wo_ISTJ - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ISTP = (float(wo_ISTP - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ENFJ = (float(wo_ENFJ - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ENFP = (float(wo_ENFP - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ENTJ = (float(wo_ENTJ - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ENTP = (float(wo_ENTP - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ESFJ = (float(wo_ESFJ - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ESFP = (float(wo_ESFP - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ESTJ = (float(wo_ESTJ - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_ESTP = (float(wo_ESTP - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_INFJ = (float(wo_INFJ - oc_minimum))/(oc_maximum-oc_minimum)
ptcg_INFP = (float(wo_INFP - oc_minimum))/(oc_maximum-oc_minimum)

print (ptcg_INTJ,'\n' , ptcg_INTP,'\n' , ptcg_ISFJ,'\n' , ptcg_ISFP,'\n' , ptcg_ISTJ,'\n' , ptcg_ISTP,'\n' , ptcg_ENFJ,'\n' , ptcg_ENFP,'\n' , ptcg_ENTJ,'\n' , ptcg_ENTP,'\n' , ptcg_ESFJ,'\n' , ptcg_ESFP,'\n' , ptcg_ESTJ,'\n' , ptcg_ESTP,'\n' , ptcg_INFJ,'\n' , ptcg_INFP,'\n')

1.0
 0.9433962264150944
 0.0
 0.018867924528301886
 0.05660377358490566
 0.37735849056603776
 0.05660377358490566
 0.09433962264150944
 0.07547169811320754
 0.16981132075471697
 0.0
 0.018867924528301886
 0.0
 0.03773584905660377
 0.4339622641509434
 0.4339622641509434

In [49]:
# fac un nou dataframe pentru rezultatele normalizate

rslt_df = pd.DataFrame([ ["INTJ", ptcg_INTJ],
                         ["INTP", ptcg_INTP],
                         ["ISFJ", ptcg_ISFJ],
                         ["ISFP", ptcg_ISFP],
                         ["ISTJ", ptcg_ISTJ],
                         ["ISTP", ptcg_ISTP],
                         ["ENFJ", ptcg_ENFJ],
                         ["ENFP", ptcg_ENFP],
                         ["ENTJ", ptcg_ENTJ],
                         ["ENTP", ptcg_ENTP],
                         ["ESFJ", ptcg_ESFJ],
                         ["ESFP", ptcg_ESFP],
                         ["ESTJ", ptcg_ESTJ],
                         ["ESTP", ptcg_ESTP],
                         ["INFJ", ptcg_INFJ],
                         ["INFP", ptcg_INFP] ],
         columns = ['Type', 'NormalizedScore'])
rslt_df

    Type  NormalizedScore
0   INTJ         1.000000
1   INTP         0.943396
2   ISFJ         0.000000
3   ISFP         0.018868
4   ISTJ         0.056604
5   ISTP         0.377358
6   ENFJ         0.056604
7   ENFP         0.094340
8   ENTJ         0.075472
9   ENTP         0.169811
10  ESFJ         0.000000
11  ESFP         0.018868
12  ESTJ         0.000000
13  ESTP         0.037736
14  INFJ         0.433962
15  INFP         0.433962

In [50]:
# il sortez descrescator in functie de valorile de pe coloana 'NormalizedScore'

rslt_df = rslt_df.sort_values(by=['NormalizedScore'], ascending = False)
rslt_df

    Type  NormalizedScore
0   INTJ         1.000000
1   INTP         0.943396
14  INFJ         0.433962
15  INFP         0.433962
5   ISTP         0.377358
9   ENTP         0.169811
7   ENFP         0.094340
8   ENTJ         0.075472
4   ISTJ         0.056604
6   ENFJ         0.056604
13  ESTP         0.037736
3   ISFP         0.018868
11  ESFP         0.018868
2   ISFJ         0.000000
10  ESFJ         0.000000
12  ESTJ         0.000000

In [51]:
# resetez indexarea si afisez primele 5 rezultate

rslt_df = rslt_df.reset_index(drop=True)
rslt_df.index = rslt_df.index + 1
rslt_df.head(5)

   Type  NormalizedScore
1  INTJ         1.000000
2  INTP         0.943396
3  INFJ         0.433962
4  INFP         0.433962
5  ISTP         0.377358